@charset "UTF-8";
/*-------------------- Variables --------------------*/
/*-------------------- Keyframes --------------------*/
@keyframes arrive {
  from {
    transform: translatex(-100px);
    opacity: 0;
  }
  to {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes arriver {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes arrivers {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes pop {
  from {
    transform: translate(100px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
/*-------------------- Mixins --------------------*/
/*-------------------- Page Web --------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  background: url(../images/Images/4.jpg) no-repeat center center/cover, url(../images/Images/6.jpg) no-repeat center center/cover, url(../images/Images/8.jpg) no-repeat center center/cover;
  height: 100%;
  width: 100%;
}

body {
  background-color: #8e8e8ebb;
  width: 100%;
}

img {
  object-fit: cover;
}

/*-------------------- Toute la Page --------------------*/
.page {
  width: 80%;
  background: #fff;
  margin: auto;
  /********** Header **********/
  /********** Article 1 "À Propos" **********/
  /********** Main "Sous partie 1" **********/
  /********** Article 2 "Proposition de Menu" **********/
  /********** Main "Sous partie 2" **********/
  /********** Section "Menu" **********/
}
.page header {
  position: relative;
  height: 100vh;
  z-index: 10;
}
.page header .back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.page header .en-tete {
  z-index: 11;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
}
.page header .en-tete .logo {
  z-index: 10;
  width: 100px;
  filter: invert(1);
  animation: 0.8s ease-out 0.5s arrive;
}
.page header .en-tete .nav-barre {
  width: 80%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  animation: 1.2s ease-out 0.8s pop;
}
.page header .en-tete .nav-barre ul {
  display: flex;
  align-items: center;
}
.page header .en-tete .nav-barre ul li {
  color: #fcfcfa;
  transition: all 0.3s;
}
.page header .en-tete .nav-barre ul li:hover {
  transform: scale(1.04);
}
.page header .en-tete .nav-barre ul li:hover a {
  transition: 0.3s;
  color: #9b9e95;
}
.page header .en-tete .nav-barre ul li:active {
  transition: 0s;
  transform: scale(1);
}
.page header .en-tete .nav-barre ul li a {
  color: #fcfcfa;
  text-decoration: none;
  margin: 0 1rem;
}
.page header .en-tete .nav-barre ul .select-lang {
  outline: none;
  border: none;
  background: transparent;
  color: #fcfcfa;
  font-size: large;
  margin-left: 5px;
  cursor: pointer;
}
.page header .en-tete .nav-barre ul .select-lang:hover {
  transform: scale(1.04);
}
.page header .en-tete .nav-barre ul .select-lang:hover a {
  transition: 0.3s;
  color: #9b9e95;
}
.page header .en-tete .nav-barre ul .select-lang:active {
  transition: 0s;
  transform: scale(1);
}
.page header .en-tete .fa-bars {
  opacity: 0;
  color: #fcfcfa;
  height: 10vh;
  display: flex;
  align-items: center;
  font-size: 30px;
}
@media screen and (max-width: 1024px) {
  .page header .en-tete .nav-barre {
    display: none;
  }
  .page header .en-tete .fa-bars {
    cursor: pointer;
    opacity: 1;
  }
}
.page header .titre {
  color: #fcfcfa;
  width: 100%;
  height: 50vh;
  text-align: center;
  position: absolute;
  top: 40vh;
}
.page header .titre h1 {
  font-size: 100px;
  font-family: "Dancing Script", cursive;
  transition: 0.3s;
  animation: 0.8s ease-out 0.5s arriver;
}
.page header .titre h2 {
  font-size: 50px;
  animation: 0.8s ease-out 0.8s arrivers;
}
.page article {
  position: relative;
  background: #fafaf7;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.page article main {
  z-index: 100;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  top: -2vh;
}
.page article main .reservation,
.page article main .image-resto-int {
  width: 30%;
}
.page article main .image-resto-ext,
.page article main .pressision-resto {
  width: 70%;
}
.page article main .reservation,
.page article main .pressision-resto {
  overflow: hidden;
  background: #fff;
  padding: 30px;
  text-align: center;
  height: 220px;
}
.page article main .reservation h3,
.page article main .pressision-resto h3 {
  font-family: "Dancing Script", cursive;
  font-size: xx-large;
  margin-bottom: 20px;
}
.page article main .reservation p,
.page article main .pressision-resto p {
  color: #9b9e95;
  font-size: small;
}
.page article main .image-resto-ext,
.page article main .image-resto-int {
  height: 220px;
}
.page article main .image-resto-ext .img-resto-ext,
.page article main .image-resto-ext .img-resto-int,
.page article main .image-resto-int .img-resto-ext,
.page article main .image-resto-int .img-resto-int {
  height: 100%;
  width: 100%;
}
.page article main .reservation .button {
  margin-top: 20px;
}
.page article main .reservation .button a {
  padding: 5px 20px;
  border: 1px solid #d9c8a2;
  color: #d9c8a2;
  text-decoration: none;
}
.page .part-2 {
  height: 40vh;
  width: 100%;
  position: relative;
}
.page .part-2 .petit {
  position: absolute;
  top: 20%;
  left: 45%;
  color: #fcfcfa;
  font-size: xx-large;
}
.page .part-2 img {
  z-index: -500;
  width: 100%;
  height: 100%;
}
.page article.proposition {
  height: 400px;
}
.page article.proposition main .menu-txt,
.page article.proposition main .menu-img {
  overflow: hidden;
  width: 25%;
  height: 220px;
}
.page article.proposition main .menu-txt {
  background: #fff;
  text-align: center;
  padding: 30px;
}
.page article.proposition main .menu-txt h3 {
  margin-bottom: 20px;
  font-size: medium;
}
.page article.proposition main .menu-txt p {
  font-size: small;
  color: #9b9e95;
}
.page article.proposition main .menu-txt .info-prix {
  margin-top: 50px;
  color: #d9c8a2;
}
.page article.proposition main .menu-img img {
  width: 100%;
  height: 100%;
}
.page .image-transition {
  width: 100%;
  height: 40vh;
}
.page .image-transition img {
  height: 100%;
  width: 100%;
}
.page .menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.page .menu img {
  position: absolute;
  height: 250px;
}
.page .menu .png-pizza {
  top: 180px;
  left: -60px;
  transform: rotate(-45deg);
}
.page .menu .png-spagetti {
  right: -100px;
  transform: rotate(65deg);
}
.page .menu .png-sandwich {
  bottom: 150px;
  right: -190px;
  transform: rotate(-25deg);
}
.page .menu .fiche-menu {
  width: 60%;
  text-align: center;
}
.page .menu .fiche-menu h2 {
  font-family: "Dancing Script", cursive;
  margin: 50px 0;
  font-size: xxx-large;
}
.page .menu .fiche-menu .plats,
.page .menu .fiche-menu .desserts {
  color: #d9d4cd;
  margin-top: 50px;
  margin-bottom: 30px;
}
.page .menu .fiche-menu .plat-principal,
.page .menu .fiche-menu .dessert-principale {
  display: flex;
  width: 100%;
}
.page .menu .fiche-menu .plat-principal .colonne,
.page .menu .fiche-menu .dessert-principale .colonne {
  position: relative;
  text-align: left;
  width: 50%;
}
.page .menu .fiche-menu .plat-principal .colonne .plat,
.page .menu .fiche-menu .plat-principal .colonne .dessert,
.page .menu .fiche-menu .dessert-principale .colonne .plat,
.page .menu .fiche-menu .dessert-principale .colonne .dessert {
  display: flex;
}
.page .menu .fiche-menu .plat-principal .colonne .plat .intituler,
.page .menu .fiche-menu .plat-principal .colonne .dessert .intituler,
.page .menu .fiche-menu .dessert-principale .colonne .plat .intituler,
.page .menu .fiche-menu .dessert-principale .colonne .dessert .intituler {
  width: 60%;
  padding-bottom: 30px;
}
.page .menu .fiche-menu .plat-principal .colonne .plat .intituler h3,
.page .menu .fiche-menu .plat-principal .colonne .dessert .intituler h3,
.page .menu .fiche-menu .dessert-principale .colonne .plat .intituler h3,
.page .menu .fiche-menu .dessert-principale .colonne .dessert .intituler h3 {
  font-size: medium;
  margin-bottom: 10px;
}
.page .menu .fiche-menu .plat-principal .colonne .plat .intituler p,
.page .menu .fiche-menu .plat-principal .colonne .dessert .intituler p,
.page .menu .fiche-menu .dessert-principale .colonne .plat .intituler p,
.page .menu .fiche-menu .dessert-principale .colonne .dessert .intituler p {
  font-size: small;
  color: #d9d4cd;
}
.page .menu .fiche-menu .plat-principal .colonne .plat > p,
.page .menu .fiche-menu .plat-principal .colonne .dessert > p,
.page .menu .fiche-menu .dessert-principale .colonne .plat > p,
.page .menu .fiche-menu .dessert-principale .colonne .dessert > p {
  color: #d9c8a2;
  font-size: xx-large;
  font-family: "Dancing Script", cursive;
}

/*# sourceMappingURL=style.css.map */
