/*-------------------- Variables --------------------*/

$color1: #3d373f;
$color2: #fcfcfa;
$color3: #9b9e95;
$color4: #996350;
$color5: #d9d4cd;
$color6: #9e9672;
$color7: #d9c8a2;
$color8: #d59276;

/*-------------------- Keyframes --------------------*/

@keyframes arrive {
  from {
    transform: translatex(-100px);
    opacity: 0;
  }
  to {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes arriver {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes arrivers {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes pop {
  from {
    transform: translate(100px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

/*-------------------- Mixins --------------------*/

@mixin button {
  &:hover {
    transform: scale(1.04);
    a {
      transition: 0.3s;
      color: $color3;
    }
  }
  &:active {
    transition: 0s;
    transform: scale(1);
  }
}

/*-------------------- Page Web --------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  background: url(../images/Images/4.jpg) no-repeat center center/cover,
    url(../images/Images/6.jpg) no-repeat center center/cover,
    url(../images/Images/8.jpg) no-repeat center center/cover;
  height: 100%;
  width: 100%;
}

body {
  background-color: #8e8e8ebb;
  width: 100%;
  scroll-behavior: smooth;
}

img {
  object-fit: cover;
}

/*-------------------- Toute la Page --------------------*/

.page {
  width: 80%;
  background: #fff;
  margin: auto;

  /********** Header **********/
  header {
    position: relative;
    height: 100vh;
    z-index: 10;

    //* Image de fond *//
    .back {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -10;
    }

    //* Barre de Navigation *//
    .en-tete {
      z-index: 11;
      padding: 0 2%;
      display: flex;
      justify-content: space-between;
      .logo {
        z-index: 10;
        width: 100px;
        filter: invert(1);
        animation: 0.8s ease-out 0.5s arrive;
      }
      .nav-barre {
        width: 80%;
        height: 10vh;
        display: flex;
        justify-content: flex-end;
        animation: 1.2s ease-out 0.8s pop;
        ul {
          display: flex;
          align-items: center;
          li {
            color: $color2;
            transition: all 0.3s;
            @include button();
            a {
              color: $color2;
              text-decoration: none;
              margin: 0 1rem;
            }
          }

          .select-lang {
            outline: none;
            border: none;
            background: transparent;
            color: $color2;
            font-size: large;
            margin-left: 5px;
            cursor: pointer;
            @include button();
          }
        }
      }
      .fa-bars {
        opacity: 0;
        color: $color2;
        height: 10vh;
        display: flex;
        align-items: center;
        font-size: 30px;
      }

      @media screen and(max-width:1024px) {
        .nav-barre {
          display: none;
        }
        .fa-bars {
          cursor: pointer;
          opacity: 1;
        }
      }
    }

    //* Grand Titre *//
    .titre {
      color: $color2;
      width: 100%;
      height: 50vh;
      text-align: center;
      position: absolute;
      top: 40vh;
      h1 {
        font-size: 100px;
        font-family: "Dancing Script", cursive;
        transition: 0.3s;
        animation: 0.8s ease-out 0.5s arriver;
      }
      h2 {
        font-size: 50px;
        animation: 0.8s ease-out 0.8s arrivers;
      }
    }
  }

  /********** Article 1 "À Propos" **********/
  article {
    position: relative;
    background: darken($color: $color2, $amount: 1);
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    main {
      z-index: 100;
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      justify-content: center;
      top: -2vh;

      //* Premiere ligne "Réservation  -  Image 1" *//
      .reservation,
      .image-resto-int {
        width: 30%;
      }

      //* Seconde ligne "Image 2  -  Précision" *//
      .image-resto-ext,
      .pressision-resto {
        width: 70%;
      }

      //* Text "Réservation  -  Précision *//
      .reservation,
      .pressision-resto {
        overflow: hidden;
        background: #fff;
        padding: 30px;
        text-align: center;
        height: 220px;
        h3 {
          font-family: "Dancing Script", cursive;
          font-size: xx-large;
          margin-bottom: 20px;
        }
        p {
          color: $color3;
          font-size: small;
        }
      }

      //* Image *//
      .image-resto-ext,
      .image-resto-int {
        height: 220px;
        .img-resto-ext,
        .img-resto-int {
          height: 100%;
          width: 100%;
        }
      }

      //* Réservation *//

      .reservation {
        .button {
          margin-top: 20px;
          a {
            padding: 5px 20px;
            border: 1px solid $color7;
            color: $color7;
            text-decoration: none;
          }
        }
      }
    }
  }

  /********** Main "Sous partie 1" **********/
  .part-2 {
    height: 40vh;
    width: 100%;
    position: relative;

    //* Titre *//
    .petit {
      position: absolute;
      top: 20%;
      left: 45%;
      color: $color2;
      font-size: xx-large;
    }

    //* Image de fond *//
    img {
      z-index: -500;
      width: 100%;
      height: 100%;
    }
  }

  /********** Article 2 "Proposition de Menu" **********/
  article.proposition {
    height: 400px;
    main {
      //* Menu "Texts  -  Images" *//
      .menu-txt,
      .menu-img {
        overflow: hidden;
        width: 25%;
        height: 220px;
      }

      //* Menu "Textes" *//
      .menu-txt {
        background: #fff;
        text-align: center;
        padding: 30px;
        h3 {
          margin-bottom: 20px;
          font-size: medium;
        }
        p {
          font-size: small;
          color: $color3;
        }
        .info-prix {
          margin-top: 50px;
          color: $color7;
        }
      }

      //* Menu "Images" *//
      .menu-img {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  /********** Main "Sous partie 2" **********/
  .image-transition {
    width: 100%;
    height: 40vh;

    //* Image de fond *//
    img {
      height: 100%;
      width: 100%;
    }
  }

  /********** Section "Menu" **********/
  .menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

    //* Images PNG *//
    img {
      position: absolute;
      height: 250px;
    }

    //* Image PNG "Pizza" *//
    .png-pizza {
      top: 180px;
      left: -60px;
      transform: rotate(-45deg);
    }

    //* Image PNG "Spagetti" *//
    .png-spagetti {
      right: -100px;
      transform: rotate(65deg);
    }

    //* Image PNG "Sandwich" *//
    .png-sandwich {
      bottom: 150px;
      right: -190px;
      transform: rotate(-25deg);
    }

    //* Carte Des Menus *//
    .fiche-menu {
      width: 60%;
      text-align: center;
      h2 {
        font-family: "Dancing Script", cursive;
        margin: 50px 0;
        font-size: xxx-large;
      }
      .plats,
      .desserts {
        color: $color5;
        margin-top: 50px;
        margin-bottom: 30px;
      }
      .plat-principal,
      .dessert-principale {
        display: flex;
        width: 100%;
        .colonne {
          position: relative;
          text-align: left;
          width: 50%;
          .plat,
          .dessert {
            display: flex;
            .intituler {
              width: 60%;
              padding-bottom: 30px;
              h3 {
                font-size: medium;
                margin-bottom: 10px;
              }
              p {
                font-size: small;
                color: $color5;
              }
            }
            & > p {
              color: $color7;
              font-size: xx-large;
              font-family: "Dancing Script", cursive;
            }
          }
        }
      }
    }
  }
}
